In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [33]:
df=pd.read_csv("MMA Fighters Gyms.csv")
df.head()

,title,country,stance,reach,age,weightClass,trainingCenter,wins,loses,draws,tkos,tko wins,tko lose,subs,subs win,subs lose
0,Pete Spratt,USA,Orthodox,NaN,47.0,Lightweight,NaN,12,18,0,5 1,5,1,5 14,5,14
1,Jonny Carson,USA,NaN,NaN,NaN,Lightweight,Skrap Pack,11,7,0,2 0,2,0,6 7,6,7
2,Sergio Quinones,USA,NaN,NaN,NaN,Featherweight,NaN,11,19,0,1 5,1,5,7 9,7,9
3,Alvin Cacdac,USA,Orthodox,NaN,NaN,Flyweight,NaN,17,13,0,8 2,8,2,7 9,7,9
4,Vincent Latoel,NETHERLANDS,NaN,NaN,39.0,Featherweight,NaN,16,18,2,7 3,7,3,7 14,7,14

In [34]:
df.describe()

,age,wins,loses,draws,tko wins,tko lose,subs win,subs lose
count,3661.000000,21925.000000,21925.000000,21925.000000,21925.000000,21925.000000,21925.000000,21925.000000
mean,33.279159,1.987412,1.986727,0.047115,0.705861,0.704812,0.707685,0.707822
std,5.838975,5.222658,2.334107,0.298870,2.195890,1.049964,2.281978,1.087243
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,1.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,64.000000,101.000000,32.000000,10.000000,36.000000,15.000000,62.000000,20.000000

In [ ]:
df.keys()

### Creating total column

In [ ]:
df.age.count()

In [ ]:
df.count()

In [35]:
clean = df.drop(columns=['reach','trainingCenter','stance','tkos','subs']).dropna().rename(columns = {"title": "fighter"})
clean.count()

fighter        3085
country        3085
age            3085
weightClass    3085
wins           3085
loses          3085
draws          3085
tko wins       3085
tko lose       3085
subs win       3085
subs lose      3085
dtype: int64

In [36]:
win = "wins"
winner = clean[win]
del clean[win]
clean.insert(0,win,winner)
clean.head()

,wins,fighter,country,age,weightClass,loses,draws,tko wins,tko lose,subs win,subs lose
0,12,Pete Spratt,USA,47.0,Lightweight,18,0,5,1,5,14
4,16,Vincent Latoel,NETHERLANDS,39.0,Featherweight,18,2,7,3,7,14
5,23,Johnny Bedford,USA,35.0,Bantamweight,13,1,10,2,9,11
7,28,Joshua Burkman,USA,37.0,Welterweight,17,0,7,2,10,9
9,13,Pedro Rizzo,BRAZIL,44.0,Heavyweight,11,0,10,7,0,0

In [37]:
clean = clean.drop(['fighter','loses','draws','tko wins','tko lose','subs win', 'subs lose'], axis = 1)
clean.head()

   wins      country   age    weightClass
0    12          USA  47.0    Lightweight
4    16  NETHERLANDS  39.0  Featherweight
5    23          USA  35.0   Bantamweight
7    28          USA  37.0   Welterweight
9    13       BRAZIL  44.0    Heavyweight

In [ ]:
# perform data transformation
for col in clean.columns[1:]:
    attName = col
    dType = clean[col].dtype
    missing = pd.isnull(clean[col]).any()
    uniqueCount = len(clean[attName].value_counts(normalize=False))
    # discretize (create dummies)
    if dType == object:
        clean = pd.concat([clean, pd.get_dummies(clean[col], prefix=col)], axis=1)
        del clean[attName]

In [ ]:
for name in clean.keys():
    if ('.' in name):
        print(name)

In [ ]:
clean = clean.rename(columns={"fighter_A.J. McKee":"fighter_AJ McKee","fighter_Adilson Fernandes Ribeiro Jr.":"fighter_Adilson Fernandes Ribeiro Jr","fighter_Antonio Carlos Jr.":"fighter_Antonio Carlos Jr","fighter_C.J. Leveque":"fighter_CJ Leveque","fighter_Carlo Pedersoli Jr.":"fighter_Carlo Pedersoli Jr","fighter_D.J. Linderman":"fighter_DJ Linderman","fighter_Danny Davis Jr.":"fighter_Danny Davis Jr","fighter_Divino da Silva Rosa Jr.":"fighter_Divino da Silva Rosa Jr","fighter_Donald Crawford Jr.":"fighter_Donald Crawford Jr","fighter_E.J. Brooks":"fighter_EJ Brooks","fighter_Fernando Rodrigues Jr.":"fighter_Fernando Rodrigues Jr","fighter_Giovanni da Silva Santos Jr.":"fighter_Giovanni da Silva Santos Jr","fighter_J.C. Llamas":"fighter_JC Llamas","fighter_J.P. Reese":"fighter_JP Reese","fighter_Julio Cesar Neves Jr.":"fighter_Julio Cesar Neves Jr","fighter_Khalil Rountree Jr.":"fighter_Khalil Rountree Jr","fighter_L.C. Davis":"fighter_LC Davis","fighter_Luis Dutra Jr.":"fighter_Luis Dutra Jr","fighter_Luis Melo Jr.":"fighter_Luis Melo Jr","fighter_Marcio Alexandre Jr.":"fighter_Marcio Alexandre Jr","fighter_Mauro Chimento Jr.":"fighter_Mauro Chimento Jr","fighter_Pete Rogers Jr.":"fighter_Pete Rogers Jr","fighter_Rafael Lovato Jr.":"fighter_Rafael Lovato Jr","fighter_Raimundo Moreno Lima Jr.":"fighter_Raimundo Moreno Lima Jr","fighter_Renato da Silva Jr.":"fighter_Renato da Silva Jr","fighter_Ricky Legere Jr.":"fighter_Ricky Legere Jr","fighter_Roberto Rojas Jr.":"fighter_Roberto Rojas Jr","fighter_Will Martinez Jr.":"fighter_Will Martinez Jr"})

In [ ]:
clean[:3]

In [38]:
selected_features = clean.drop('wins', axis = 1)
selected_features

           country   age    weightClass
0              USA  47.0    Lightweight
4      NETHERLANDS  39.0  Featherweight
5              USA  35.0   Bantamweight
7              USA  37.0   Welterweight
9           BRAZIL  44.0    Heavyweight
...            ...   ...            ...
21917      GERMANY  39.0  Featherweight
21918    AUSTRALIA  35.0   Welterweight
21919          USA  44.0    Heavyweight
21920          USA  36.0  Featherweight
21924          USA  28.0  Featherweight

[3085 rows x 3 columns]

In [39]:
X = selected_features
y = clean["wins"]

In [40]:
print("Shape: ", X.shape, y.shape)
X

Shape:  (3085, 3) (3085,)

           country   age    weightClass
0              USA  47.0    Lightweight
4      NETHERLANDS  39.0  Featherweight
5              USA  35.0   Bantamweight
7              USA  37.0   Welterweight
9           BRAZIL  44.0    Heavyweight
...            ...   ...            ...
21917      GERMANY  39.0  Featherweight
21918    AUSTRALIA  35.0   Welterweight
21919          USA  44.0    Heavyweight
21920          USA  36.0  Featherweight
21924          USA  28.0  Featherweight

[3085 rows x 3 columns]

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [42]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
enc.fit(X)

OrdinalEncoder()

In [43]:
enc.categories_

[array(['AFGHANISTAN', 'AFRICA', 'ALBANIA', 'ARGENTINA', 'ARMENIA',
        'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN', 'BAHAMAS', 'BELARUS',
        'BELGIUM', 'BOLIVIA', 'BOSNIA & HERZEGOVINA', 'BRAZIL', 'BULGARIA',
        'CAMEROON', 'CANADA', 'CHILE', 'CHINA', 'COLOMBIA', 'COSTA RICA',
        'CROATIA', 'CUBA', 'CZECH REPUBLIC', 'DENMARK',
        'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'EL SALVADOR', 'ENGLAND',
        'ESTONIA', 'FINLAND', 'FRANCE', 'GEORGIA', 'GERMANY', 'GHANA',
        'GREECE', 'GUAM', 'GUYANA', 'HONG KONG', 'HUNGARY', 'ICELAND',
        'INDIA', 'IRAN', 'IRELAND', 'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN',
        'KAZAKHSTAN', 'KOREA', 'KYRGYZSTAN', 'LATVIA', 'LEBANON',
        'LITHUANIA', 'MALAYSIA', 'MEXICO', 'MOLDOVA', 'MONGOLIA',
        'MONTENEGRO', 'NETHERLANDS', 'NEW ZEALAND', 'NICARAGUA', 'NIGERIA',
        'NORTHERN IRELAND', 'NORWAY', 'PANAMA', 'PARAGUAY', 'PERU',
        'PHILIPPINES', 'POLAND', 'PORTUGAL', 'PUERTO RICO', 'ROMANIA',
        'RUSSIA', 'SCOTLAND', 'SERBIA', 'SINGAPORE', 'SLOVAKIA',
        'SLOVENIA', 'SOUTH AFRICA', 'SOUTH KOREA', 'SPAIN', 'SURINAME',
        'SWEDEN', 'SWITZERLAND', 'TAIWAN', 'THAILAND', 'TURKEY', 'UKRAINE',
        'USA', 'VENEZUELA', 'VIETNAM', 'WALES', 'ZAIRE', 'ZIMBABWE'],
       dtype=object),
 array([18., 19., 20., 21., 22., 23., 24., 25., 26., 27., 28., 29., 30.,
        31., 32., 33., 34., 35., 36., 37., 38., 39., 40., 41., 42., 43.,
        44., 45., 46., 47., 48., 49., 50., 51., 52., 53., 54., 55., 56.,
        64.]),
 array(['5\'5", Lightweight', 'Atomweight', 'Bantamweight',
        'Bantamweight - Rizin (60 kg)', 'Catch Weight', 'Catchweight',
        'Featherweight', 'Flyweight', 'Heavyweight', 'Light Heavyweight',
        'Lightweight', 'Middleweight', 'Open Weight', 'Strawweight',
        'Welterweight', "Women's Atomweight", "Women's Bantamweight",
        "Women's Catch Weight", "Women's Featherweight",
        "Women's Flyweight", "Women's Lightweight", "Women's Strawweight"],
       dtype=object)]

In [56]:
j = X['country']
j

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [45]:
X = enc.transform()

In [46]:
X

array([[90., 29., 10.],
       [60., 21.,  6.],
       [90., 17.,  2.],
       ...,
       [90., 26.,  8.],
       [90., 18.,  6.],
       [90., 10.,  6.]])

In [47]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [48]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [49]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression()

In [50]:
model.fit(X, y)

LinearRegression()

In [51]:
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)



print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.02620298810945232
Testing Score: 0.03360143633930024

In [52]:
model.fit(X_train_scaled, y_train)
training_score = model.score(X_train_scaled, y_train)
testing_score = model.score(X_test_scaled, y_test)



print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.02657939781815377
Testing Score: 0.03107512120940592

In [29]:
filename = "predict_wins.sav"
#pickle.dump(model, (filename, "wb"))
with open(filename, 'wb') as file:
    pickle.dump(model, file)

In [53]:
X_test_scaled

array([[0.94736842, 0.34210526, 0.85      ],
       [0.94736842, 0.36842105, 0.65      ],
       [0.94736842, 0.44736842, 0.5       ],
       ...,
       [0.94736842, 0.55263158, 0.4       ],
       [0.93684211, 0.26315789, 0.25      ],
       [0.50526316, 0.52631579, 0.5       ]])

In [54]:
len(X_test_scaled[:1][0])

3

In [55]:
#Predictions for tuned model
predictions = model.predict(X_test_scaled)
classifications = y_test.unique().tolist()
predicted = {
    'Actual': y_test,
    'Prediction': predictions
}
prediction_df = pd.DataFrame(predicted)
prediction_df = prediction_df.set_index('Actual').reset_index()
prediction_df.head(15)

    Actual  Prediction
0        2    9.528406
1        4   10.078172
2        0   11.075257
3       11    9.515896
4       45   12.447194
5       10    9.770512
6       12    9.285981
7        7   13.559236
8        8   13.111917
9        9    8.271427
10       1   11.091858
11      19   10.078172
12       9   11.335151
13      18   10.857853
14       8   10.194750

# Load (ETL)