In [20]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df=pd.read_csv("MMA Fighters Gyms.csv")
df.head()

,title,country,stance,reach,age,weightClass,trainingCenter,wins,loses,draws,tkos,tko wins,tko lose,subs,subs win,subs lose
0,Pete Spratt,USA,Orthodox,NaN,47.0,Lightweight,NaN,12,18,0,5 1,5,1,5 14,5,14
1,Jonny Carson,USA,NaN,NaN,NaN,Lightweight,Skrap Pack,11,7,0,2 0,2,0,6 7,6,7
2,Sergio Quinones,USA,NaN,NaN,NaN,Featherweight,NaN,11,19,0,1 5,1,5,7 9,7,9
3,Alvin Cacdac,USA,Orthodox,NaN,NaN,Flyweight,NaN,17,13,0,8 2,8,2,7 9,7,9
4,Vincent Latoel,NETHERLANDS,NaN,NaN,39.0,Featherweight,NaN,16,18,2,7 3,7,3,7 14,7,14

In [5]:
df.describe()

,age,wins,loses,draws,tko wins,tko lose,subs win,subs lose
count,3661.000000,21925.000000,21925.000000,21925.000000,21925.000000,21925.000000,21925.000000,21925.000000
mean,33.279159,1.987412,1.986727,0.047115,0.705861,0.704812,0.707685,0.707822
std,5.838975,5.222658,2.334107,0.298870,2.195890,1.049964,2.281978,1.087243
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,1.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,64.000000,101.000000,32.000000,10.000000,36.000000,15.000000,62.000000,20.000000

In [6]:
df.keys()

Index(['title', 'country', 'stance', 'reach', 'age', 'weightClass',
       'trainingCenter', 'wins', 'loses', 'draws', 'tkos', 'tko wins',
       'tko lose', 'subs', 'subs win', 'subs lose'],
      dtype='object')

### Creating total column

In [7]:
df['total'] = df.wins + df.loses + df.draws
df.head()

,title,country,stance,reach,age,weightClass,trainingCenter,wins,loses,draws,tkos,tko wins,tko lose,subs,subs win,subs lose,total
0,Pete Spratt,USA,Orthodox,NaN,47.0,Lightweight,NaN,12,18,0,5 1,5,1,5 14,5,14,30
1,Jonny Carson,USA,NaN,NaN,NaN,Lightweight,Skrap Pack,11,7,0,2 0,2,0,6 7,6,7,18
2,Sergio Quinones,USA,NaN,NaN,NaN,Featherweight,NaN,11,19,0,1 5,1,5,7 9,7,9,30
3,Alvin Cacdac,USA,Orthodox,NaN,NaN,Flyweight,NaN,17,13,0,8 2,8,2,7 9,7,9,30
4,Vincent Latoel,NETHERLANDS,NaN,NaN,39.0,Featherweight,NaN,16,18,2,7 3,7,3,7 14,7,14,36

In [8]:
df.age.count()

3661

In [9]:
df.count()

title             21925
country            6195
stance             2207
reach              1047
age                3661
weightClass       12057
trainingCenter     1728
wins              21925
loses             21925
draws             21925
tkos              21925
tko wins          21925
tko lose          21925
subs              21925
subs win          21925
subs lose         21925
total             21925
dtype: int64

In [10]:
clean = df.drop(columns=['reach','trainingCenter','stance','tkos','subs']).dropna().rename(columns = {"title": "fighter"})
clean.count()

fighter        3085
country        3085
age            3085
weightClass    3085
wins           3085
loses          3085
draws          3085
tko wins       3085
tko lose       3085
subs win       3085
subs lose      3085
total          3085
dtype: int64

In [11]:
clean.to_csv('clean.csv')
clean.head()

,fighter,country,age,weightClass,wins,loses,draws,tko wins,tko lose,subs win,subs lose,total
0,Pete Spratt,USA,47.0,Lightweight,12,18,0,5,1,5,14,30
4,Vincent Latoel,NETHERLANDS,39.0,Featherweight,16,18,2,7,3,7,14,36
5,Johnny Bedford,USA,35.0,Bantamweight,23,13,1,10,2,9,11,37
7,Joshua Burkman,USA,37.0,Welterweight,28,17,0,7,2,10,9,45
9,Pedro Rizzo,BRAZIL,44.0,Heavyweight,13,11,0,10,7,0,0,24

In [31]:
win = "wins"
winner = clean[win]
del clean[win]
clean.insert(0,win,winner)
clean.head()

,wins,fighter,country,age,weightClass,loses,draws,tko wins,tko lose,subs win,subs lose,total
0,12,Pete Spratt,USA,47.0,Lightweight,18,0,5,1,5,14,30
4,16,Vincent Latoel,NETHERLANDS,39.0,Featherweight,18,2,7,3,7,14,36
5,23,Johnny Bedford,USA,35.0,Bantamweight,13,1,10,2,9,11,37
7,28,Joshua Burkman,USA,37.0,Welterweight,17,0,7,2,10,9,45
9,13,Pedro Rizzo,BRAZIL,44.0,Heavyweight,11,0,10,7,0,0,24

In [32]:
# perform data transformation
for col in clean.columns[1:]:
    attName = col
    dType = clean[col].dtype
    missing = pd.isnull(clean[col]).any()
    uniqueCount = len(clean[attName].value_counts(normalize=False))
    # discretize (create dummies)
    if dType == object:
        clean = pd.concat([clean, pd.get_dummies(clean[col], prefix=col)], axis=1)
        del clean[attName]

In [33]:
clean[:3]

,wins,age,loses,draws,tko wins,tko lose,subs win,subs lose,total,fighter_A.J. McKee,...,weightClass_Open Weight,weightClass_Strawweight,weightClass_Welterweight,weightClass_Women's Atomweight,weightClass_Women's Bantamweight,weightClass_Women's Catch Weight,weightClass_Women's Featherweight,weightClass_Women's Flyweight,weightClass_Women's Lightweight,weightClass_Women's Strawweight
0,12,47.0,18,0,5,1,5,14,30,0,...,0,0,0,0,0,0,0,0,0,0
4,16,39.0,18,2,7,3,7,14,36,0,...,0,0,0,0,0,0,0,0,0,0
5,23,35.0,13,1,10,2,9,11,37,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
selected_features = clean.drop('wins', axis = 1)
selected_features

,age,loses,draws,tko wins,tko lose,subs win,subs lose,total,fighter_A.J. McKee,fighter_AJ Matthews,...,weightClass_Open Weight,weightClass_Strawweight,weightClass_Welterweight,weightClass_Women's Atomweight,weightClass_Women's Bantamweight,weightClass_Women's Catch Weight,weightClass_Women's Featherweight,weightClass_Women's Flyweight,weightClass_Women's Lightweight,weightClass_Women's Strawweight
0,47.0,18,0,5,1,5,14,30,0,0,...,0,0,0,0,0,0,0,0,0,0
4,39.0,18,2,7,3,7,14,36,0,0,...,0,0,0,0,0,0,0,0,0,0
5,35.0,13,1,10,2,9,11,37,0,0,...,0,0,0,0,0,0,0,0,0,0
7,37.0,17,0,7,2,10,9,45,0,0,...,0,0,1,0,0,0,0,0,0,0
9,44.0,11,0,10,7,0,0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21917,39.0,11,0,5,3,9,5,34,0,0,...,0,0,0,0,0,0,0,0,0,0
21918,35.0,8,0,8,2,9,5,30,0,0,...,0,0,1,0,0,0,0,0,0,0
21919,44.0,16,0,22,5,9,6,51,0,0,...,0,0,0,0,0,0,0,0,0,0
21920,36.0,8,0,4,0,9,6,24,0,0,...,0,0,0,0,0,0,0,0,0,0
21924,28.0,12,0,7,2,9,8,32,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
X = selected_features
y = clean["wins"]

In [36]:
print("Shape: ", X.shape, y.shape)
X

Shape:  (3085, 3191) (3085,)

,age,loses,draws,tko wins,tko lose,subs win,subs lose,total,fighter_A.J. McKee,fighter_AJ Matthews,...,weightClass_Open Weight,weightClass_Strawweight,weightClass_Welterweight,weightClass_Women's Atomweight,weightClass_Women's Bantamweight,weightClass_Women's Catch Weight,weightClass_Women's Featherweight,weightClass_Women's Flyweight,weightClass_Women's Lightweight,weightClass_Women's Strawweight
0,47.0,18,0,5,1,5,14,30,0,0,...,0,0,0,0,0,0,0,0,0,0
4,39.0,18,2,7,3,7,14,36,0,0,...,0,0,0,0,0,0,0,0,0,0
5,35.0,13,1,10,2,9,11,37,0,0,...,0,0,0,0,0,0,0,0,0,0
7,37.0,17,0,7,2,10,9,45,0,0,...,0,0,1,0,0,0,0,0,0,0
9,44.0,11,0,10,7,0,0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21917,39.0,11,0,5,3,9,5,34,0,0,...,0,0,0,0,0,0,0,0,0,0
21918,35.0,8,0,8,2,9,5,30,0,0,...,0,0,1,0,0,0,0,0,0,0
21919,44.0,16,0,22,5,9,6,51,0,0,...,0,0,0,0,0,0,0,0,0,0
21920,36.0,8,0,4,0,9,6,24,0,0,...,0,0,0,0,0,0,0,0,0,0
21924,28.0,12,0,7,2,9,8,32,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [38]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [40]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [41]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression()

In [42]:
model.fit(X, y)

LinearRegression()

In [43]:
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)



print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 1.0
Testing Score: 1.0

In [44]:
model.fit(X_train_scaled, y_train)
training_score = model.score(X_train_scaled, y_train)
testing_score = model.score(X_test_scaled, y_test)



print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 1.0
Testing Score: 0.999519269192549

In [46]:
#Predictions for tuned model
predictions = model.predict(X_test_scaled)
classifications = y_test.unique().tolist()
predicted = {
    'Actual': y_test,
    'Prediction': predictions
}
prediction_df = pd.DataFrame(predicted)
prediction_df = prediction_df.set_index('Actual').reset_index()
prediction_df.head(15)

    Actual  Prediction
0        2    2.038766
1        4    4.010919
2        0    0.010919
3       11   11.010919
4       45   45.010919
5       10   10.016936
6       12   12.010919
7        7    7.010919
8        8    8.025735
9        9    8.972096
10       1    1.030608
11      19   19.010919
12       9    9.010919
13      18   18.010919
14       8    8.010545

# Load (ETL)

In [19]:
import pymongo

In [20]:
conn = 'mongodb://localhost:27017'

In [21]:
client = pymongo.MongoClient(conn)

In [23]:
db = client.final_project_db
fighters = db.fighters

In [26]:
fighters.insert_many(clean.to_dict(orient='records'))